* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(bg.jpg);
  font: normal 12pt sans-serif;
}

h1 {
  color: #810000;
  font: bold 36pt sans-serif;
  text-align: center;
  padding: 20px;
}

img {
  border: none;
}

#main {
  width: 640px;
  margin: 0 auto 0 auto;
  padding: 10px;
  background-color: #fff;
}

td {
  padding: 5px;
  vertical-align: bottom;
}

td.cover a {
  line-height: 0;
}

.artist {
  color: #810000;
  font: bold 18pt georgia,sans-serif;
}

.album {
  color: #ff7777;
  font-size: 10pt;
}

.title a {
  color: #810000;
  text-decoration: none;
}

.title a:hover {
  text-decoration: underline;
}
